{% extends "./layout.html" %}
{% block body %}
<header class="header">
    <div class="container">
        <div class="btn-menu">
            <label for="btn-menu" style="color: black;">☰</label>
        </div>
        <div class="logo">
        </div>
        <nav class="menu">
            <a style="color: black;" href="ortodoncias.html">Ortodoncias</a>
            <a style="color: black;" href="blanqueamentos.html">Blanqueamentos</a>
            <a style="color: black;" href="index.html">Inicio</a>
        </nav>
    </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="terror.html">$</a>
            <a href="comedia.html">$</a>
            <a href="ciencia ficcion.html">$</a>
            <a href="aventuras.html">$</a>
            <a href="romance.html">$</a>
            <a href="drama.html">$</a>
            <a href="misterio.html">$</a>
            <a href="series.html">$</a>
        </nav>
        <label for="btn-menu">✖️</label>
    </div>
</div>
<div class="container3">
    <div class="div6">
        <p class="p19">Beneficios de los implantes dentales</p>
        <p class="p20">Un implante dental puede ayudar a mantener una hermosa sonrisa los tratamientos en
            implantología son coronas dental, Protésis fija -All on four. Además de eso, también te ofrece los
            siguientes beneficios:

            Facilita la masticación y locución. Como los implantes dentales ofrecen mejor soporte dentro de la boca
            que las prótesis extraíbles, permiten realizar mejor las funciones masticatoria y de locución.
            Mantener la integridad de las piezas dentales adyacentes. Permite mantener en buen estado las piezas
            dentales que se encontraban alrededor del diente perdido.
            Evita molestias de las prótesis extraíbles. Permite masticar y hablar con normalidad.</p>

        <div class="div7">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WgG-xetq_uE" frameborder="0"
                allowfullscreen></iframe>
            <p class="p21">¿Qué son los implantes dentales?</p>
            <p class="p22">Son tornillos de titanio que se colocan en el hueso y sustituyen los dientes naturales
                perdidos. Diseñados para quedar fijos en tu boca y reemplazar la raíz de tus dientes. Constituyen el
                soporte para una corona o una prótesis dental que reemplazarán los dientes perdidos.

                Los implantes están hechos de aleaciones de titanio (específicamente titanio, aluminio, vanadio) con
                diferentes grados de pureza. A mayor grado de pureza, mejor biocompatibilidad, resistencia a la
                fatiga y comportamiento elástico.</p>
            <p class="p23">
                Recupera la estética, fuerza y funcionalidad de tus dientes con implantes dentales.

                Agenda tu cita de valoración, conoce el tratamiento que necesitas de la mano de nuestros
                especialistas expertos en casos complejos y sencillos.
            </p>
            <p class="p24">Ten en cuenta estos pasos antes de realizarte un implante dental</p>
            <p class="p25">Contar con buena condición de salud física y mental.
                Si tienes alguna enfermedad sistémica, ésta debe estar bajo estricto control médico, para evitar
                riesgos durante y posterior al procedimiento.
                Debes tener control de hábitos nocivos (fumar, ingesta de alcohol) que puedan afectar el
                tratamiento.
                Se puede colocar en la mayoría de adultos, la edad mínima y en pacientes que hayan finalizado su
                etapa de crecimiento craneofacial.
                Asegúrate que los odontólogos especialistas de Periodoncia y Cirugía Maxilofacial te soliciten
                exámenes específicos (radiografías, tomografía, exámenes de laboratorio), para determinar si eres
                apto para este procedimiento, teniendo en cuenta que debes tener hueso suficiente para colocar
                implantes o realizar cirugías de regeneración ósea previas, así se determinará la opción más viable
                según sea la condición del paciente.</p>
        </div>
    </div>
{% endblock %}