{% extends "layout.html" %}
{% block body %}
<header id="home">
  <div class="menu">
      <div class="logo"></div><!--logo-->
      <nav class="desktop-menu">
          <ul>         
              <li><a href="/fronted/indexcalendario">Calendario</a></li>
              <li><a href="/fronted/indexadmin_tabla_paciente">Paciente</a></li>
              <li><a href="/fronted/indexcita2">Citas</a></li>
              <li><a href="/fronted/indexprincipal">Cerrar sesion</a></li>
          </ul>
      </nav>
  </div>
</div><!--container-->
<div class="contenedor_de_la_tabla">
  <div class="tabla_de_mi_cita">
    <div class="d-flex mb-3">
      <input type="text" id="buscador" class="form-control mr-2" placeholder="Buscar en la tabla...">
      <button class="btn btn-primary" type="button" id="boton-buscar">Buscar</button>
      <button id="myBtn_4" class="btn btn-primary" type="button">Nuevo medico</button>
    </div>
    <div class="table-responsive_medico">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Especialidad</th>
            <th scope="col">option</th>
          </tr>
        </thead>
        <tbody id="tabla">
          <tr>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>  
<!-- modal de tabla odontologo  -->
<div id="myModal_tabla_odontologo_1" class="modal_tabla_odontologo">
  <div class="modal-content4">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombres"  placeholder="nombre"  name="nombre" required>
    <label for="Direccion">Direccion</label>
    <input id="Direccion" type="text" placeholder="Direccion" name="Direccion">
    <label for="Telefono">Telefono</label>
    <input id="Telefono" type="text" placeholder="Telefono" name="Telefono">
    <label for="Email">Email</label>
    <input id="Email" type="text" placeholder="Email" name="Email">
    <label for="Especialidad">Especialidad:</label>
    <input type="text" id="Especialidad" name="Especialidad" required>
    <input id="btn" onclick="registrar_odontologo()" type="submit" value="Enviar">
  </div>
</div>
<!-- modal de actualizar odontologo  -->
<div id="myModal_tabla_odontologo_2" class="modal_tabla_odontologo_admin_actulizar">
  <div class="modal-content4-actualizar">
     <!-- id inpppput -->
     <label for="id">id</label>
     <input id="id_nuevo2" type="text" name="idactus">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombres_nuevo2" name="nombre" required>
    <label for="Direccion">Direccion</label>
    <input id="Direccion_nuevo2" type="text" placeholder="Direccion" name="Direccion">
    <label for="Telefono">Telefono</label>
    <input id="Telefono_nuevo2" type="text" placeholder="Telefono" name="Telefono">
    <label for="Email">Email</label>
    <input id="Email_nuevo2" type="text" placeholder="Email" name="Email">
    <label for="Especialidad">Especialidad:</label>
    <input type="text" id="Especialidad_nuevo2" name="Especialidad" required>
    <button id="btn-actualizarmedico" class="btn-primary">avtualizar</button>
  </div>
</div>
<script src="{{url_for('static', filename='js/binj/admin/odontologo_admin.js')}}"></script>
<script src="{{url_for('static', filename='js/binj/funcion_modal_odontologo.js')}}"></script>
{% endblock %}