{% extends "layout.html" %}
{% block body %}
<header class="header">
    <div class="container">
        <div class="btn-menu">
            <label for="btn-menu" style="color: black;">☰</label>
        </div>
        <div class="logo">
        </div>
        <nav class="menu">
            <a style="color: black;" href="indexcita">Cerrar sesion</a>
        </nav>
    </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="indexcalendario">Calendario</a>
            <a href="indexadmin_tabla_medico">Medicos</a>
            <a href="indexcita2">citas</a>
            <a href="#">Reportes de citas</a>
            <a href="#">Facturacion</a>
        </nav>
        <label class="logox" for="btn-menu">✖️</label>
    </div>
</div>
<div class="contenedor_de_la_tabla">
    <div class="tabla_de_mi_cita">
        <div class="d-flex mb-3">
            <input type="text" id="buscadorpacienteadmin" onkeyup="buscadorpaciente()" class="form-control mr-2" placeholder="Buscar en la tabla..." style="width: 200px;">
            <button class="btn btn-primary" type="button" id="boton-buscar" style="margin-top: 2px; height: 43px; margin-left:15px" >Buscar</button>
            <button id="myBtn_3" class="btn btn-primary" type="button" style="margin-top: 2px; height: 43px; margin-left:15px" >Nueva paciente</button>
          </div>
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">option</th>
              </tr>
            </thead>
            <tbody id="tabla">
              <tr>
                
               
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div id="myModal_tabla_paciente_1" class="modal_tabla_paciente">
  <div class="modal-content3">
    <label for="Fullname">Full name</label>
            <input id="Fullname" type="text" placeholder="Fullname" name="Fullname"> 
            <!-- Cedula INPUT -->
            <label for="Cedula">Cedula</label>
            <input id="Cedula" type="text" placeholder="Cedula" name="Cedula">
            <!-- Telefono INPUT -->
            <label for="Telefono">Telefono</label>
            <input id="Telefono" type="text" placeholder="Telefono" name="Telefono">
            <!-- Direccion INPUT -->
            <label for="Direccion">Direccion</label>
            <input id="Direccion" type="text" placeholder="Direccion" name="Direccion">
            <!-- Correo INPUT -->
            <label for="Correo">Correo</label>
            <input id="Correo" type="text" placeholder="Correo" name="Correo">
             <!-- Fecha de nacimento INPUT -->
             <label for="Fechadenacimento">Fecha de nacimento</label>
             <input type="date" id="fecha" name="fecha">
            <input onclick="addregistro()" type="submit" value="enviar">
  </div>
</div>
<script src="{{url_for('static', filename='js/binj/admin/paciente_admin.js')}}"></script>
<script src="{{url_for('static', filename='js/binj/funcion_modal_paciente.js')}}"></script>
{% endblock %}