{% extends "layout.html" %}
{% block body %}
<header class="header">
    <div class="container">
        <div class="btn-menu">
            <label for="btn-menu" style="color: black;">☰</label>
        </div>
        <div class="logo">
        </div>
        <nav class="menu">
            <a style="color: black;" href="indexortodoncias">Ortodoncias</a>
            <a style="color: black;" href="indeximplantes">Implantes</a>
            <a style="color: black;" href="indexprincipal">Inicio</a>
        </nav>
    </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="terror.html">$</a>
            <a href="comedia.html">$</a>
            <a href="ciencia ficcion.html">$</a>
            <a href="aventuras.html">$</a>
            <a href="romance.html">$</a>
            <a href="drama.html">$</a>
            <a href="misterio.html">$</a>
            <a href="series.html">$</a>
        </nav>
        <label for="btn-menu">✖️</label>
    </div>
</div>
<div class="container">
    <div class="div1">
        <img src="{{url_for('static', filename='assets/images/blanqueamentos.jpg')}}" alt="Descripción de la imagen"
            style="position: absolute; top: 105px; width: 100%; height: 700px; z-index: 0;">
        <p class="p1">Importancia de los implantes dentales</p>
        <p class="p2">La pérdida de una o varias piezas dentales puede ser ocasionada por un accidente, una
            extracción o
            alguna patología. Y para nadie es un secreto que cualquiera de estos escenarios, puede originar
            problemas
            funcionales y estéticos.
            Los implantes dentales vienen a ser el tratamiento con el que debe solucionarse la ausencia de piezas en
            la
            boca ¿Pero por qué la estructura dental nunca debe quedarse con espacios entre los dientes?
            Si el espacio donde ocurrió la pérdida se deja abandonado ocasionaría que el resto de las piezas
            dentales se
            desplazaran hacia dicho lugar. En consecuencia, esto causaría problemas en la mordida y otras
            condiciones de
            mayor gravedad.
            Gracias a los implantes dentales, el paciente puede solucionar un problema estético y lucir una sonrisa
            más
            armoniosa. Pero lo más importante, es que podrá recuperar la funcionalidad de la boca y mantener una
            mayor
            calidad de vida.</p>

        <div class="div2">
            <img src="{{url_for('static', filename='assets/images/blanqueamentos2.jpg')}}" alt="Descripción de la imagen"
                style="position: absolute; top: 1020px; width: 100%; height:700px; z-index: 0;">
            <p class="p3">¿Qué son los implantes dentales?</p>
            <p class="p4">El implante dental es un dispositivo médico que se inserta en el hueso maxilar a modo de
                soporte o raíz artificial para dar apoyo a prótesis dentales.
                Las prótesis pueden ser fijas o removibles y se aconsejan en pacientes que buscan reemplazar piezas
                dentales perdidas.
                El mercado ofrece diversos tipos de implantes dentales y, a lo largo de los años, han evolucionado
                en
                tecnologías, técnicas y materiales. Uno de los modelos más recomendables son los de conexión
                interna.
                Los implantes dentales de conexión interna poseen un desempeño clínico superior y más efectivo en
                comparación con el resto.</p>
        </div>
    </div>
</div>
{% endblock %}