{% extends "layout.html" %}
{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="login-box">
    <h1>Login Here</h1>
    <form action="/ruta" method="post" >
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        
            
            <input type="submit" value="Log In" formaction="index.html">
          </form>
          
        <a  style="color: black;" href="#">Lost your Password?</a><br>
        <a  style="color: black;" href="/fronted/indexregistro">Don't have An account?</a>
    </form>
</div>
{% endblock %}