{% extends "layout.html" %}
{% block body %}
<body>
    <header id="home">
        <div class="menu">
            <div class="logo"></div><!--logo-->
            <nav class="desktop-menu">
                <ul>
                    <li><a href="/fronted/indexprincipal">Inicio</a></li>
                </ul>
            </nav>
        </div>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>



    <div class="login-box">
        <h1>Login admin</h1> 
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input id="usuario" type="text" placeholder="Enter Username" required>
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input id="contrasena" type="password" placeholder="Enter Password" required>
        <br>
        <input class="botonlogin" onclick="ingrso()" type="submit" value="Log In">
    <a style="color: black;" href="">Lost your Password?</a><br>
    <a style="color: black;" href="fronted/indexregistro">Don't have An account?</a>
</form>    
</div>

</body>
<script src="{{url_for('static', filename='js/binj/admin/login.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}