{% extends "layout.html" %}
{% block body %}
<header class="header">
    <div class="container">
        <div class="btn-menu">
            <label for="btn-menu" style="color: black;">☰</label>
        </div>
        <div class="logo">
        </div>
        <nav class="menu">
            <a style="color: black;" href="indexblanqueamentos">Blanqueamentos</a>
            <a style="color: black;" href="indeximplantes">Implantes</a>
            <a style="color: black;" href="indexprincipal">Inicio</a>
        </nav>
    </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="terror.html">$</a>
            <a href="comedia.html">$</a>
            <a href="ciencia ficcion.html">$</a>
            <a href="aventuras.html">$</a>
            <a href="romance.html">$</a>
            <a href="drama.html">$</a>
            <a href="misterio.html">$</a>
            <a href="series.html">$</a>
        </nav>
        <label for="btn-menu">✖️</label>
    </div>
</div>
<div class="ortodoncia">
    <div class="div3">
        <p class="p7">ORTODONCIA</p>
        <p class="p8">¡VIVE UNA EXPERIENCIA DIFERENTE CON NOSOTROS!</p>
        <div class="div4">
            <p class="p9">La precisión tanto de los brackets como del especialista es fundamental para que el
                tratamiento llegue a buen término, materiales de alta calidad evitan tropiezos durante el
                tratamiento disminuyendo el tiempo y aumentando la calidad de los resultados.</p>
            <p class="p10">En Odontología de Marlon Becerra contamos con 3 sistemas de tratamientos de ortodoncia
                Tratamientos de Ortodoncia:
                Ortodoncia sin brackets – alineadores invisibles “Invisalign”
                Ortodoncia convencional metálica y estética
                Ortodoncia autoligado metálicos y estéticos</p>
            <div class="div5">
                <p class="p11">ORTODONCIA SIN BRACKETS - ALINEADORES INVISIBLES</p>
                <p class="p12">Es un sistema Innovador que utiliza un juego de alineadores removibles (placas)
                    hechos a la medida del paciente. Estos alineadores pasan prácticamente desapercibidos y
                    reposicionan los dientes para conseguir una sonrisa armoniosa. Con alineadores invisibles no
                    necesitas Brackets, ni arcos y te permite continuar la rutina normal mientras los dientes se van
                    moviendo a la posición planificada</p>
                <p class="p13">ORTODONCIA CONVENCIONAL METÁLICA Y ESTÉTICA</p>
                <p class="p14">Sistemas tradicionales de brackets metálicos con mayor evidencia científica a lo
                    largo de la historia, se convierte en la alternativa de tratamiento más económica y accesible
                    para nuestros pacientes.
                    Ventajas
                    Tradicionales.
                    Brackets a precios más cómodos.</p>
                    <img src="{{url_for('static', filename='assets/images/ortodoncia 1.jpg')}}" alt="" class="imagen-circular">
                <p class="p15">ORTODONCIA AUTOLIGADO METÁLICOS Y ESTÉTICOS</p>
                <img src="{{url_for('static', filename='assets/images/ortodoncia 2.jpg')}}" alt="" class="imagen-circular2">
                <p class="p16">Sistema revolucionario de brackets que fija arco (alambre a través de tapas pasivas,
                    especialmente diseñadas para evitar el uso de ligaduras elásticas (cauchos) o metálicas.
                    Este sistema le brinda la opción al paciente de utilizar brackets transparentes (estéticos),
                    para que su aparatología pase prácticamente desapercibida.
                    No cuenta con ligaduras elásticas que atraen y almacenan placa bacteriana durante el
                    tratamiento.</p>
                    <img src="{{url_for('static', filename='assets/images/ortodoncia-tradicional.jpg')}}" alt="" class="imagen-circular3">
                <p class="p17">CUIDA TUS BRACKETS</p>
                <p class="p18">No muerdas objetos duros
                    No muerdas tus uñas.
                    Evita comidas duras y caramelos blandos.
                    Mantén una limpieza adecuada, acompañada de un enjuague bucal y la seda dental para una óptima
                    salud oral.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}