{% extends "layout.html" %}
{% block body %}
<header id="home">
    <div class="menu">
        <div class="logo"></div><!--logo-->
        <nav class="desktop-menu">
            <ul>
                <li><a href="/fronted/indexservice">serviços</a></li>
                <li><a href="/fronted/indexsobre">sobre</a></li>
                <li><a href="/fronted/indexcontacto">contato</a></li>
                <li><a href="/fronted/indexcita">agendar cita</a></li>
                <li><a href="/fronted/tablauser">ver citas</a></li>
                <li><a href="/fronted/indexregistro">registar</a></li>
                <li><a href="/fronted/indexlogin">logins</a></li>
            </ul>
        </nav>
    </div>
<div class="nav">
    <div class="box">
        <h1>Entre em Contato</h1>
        <p>(55) 5895 5258</p>
    </div>
    <div class="box">
        <h1>Atendimento</h1>
        <p>Segunda a Sexta</p>
    </div>
    <div class="box">
        <h1>Marque Sua consulta</h1>
        <p>É Gratís</p>
    </div>
</div>
<div class="container">
    <div class="chamada1">
        <h3>Dentes Brancos</h3>
        <p>Quisque scelerisque eget lectus ut dapibus.</p>
        <button>Saiba Mais</button>
    </div><!--chamada1-->

</div><!--container-->
</header>
<main>
</main>
<footer>
<div class="container">
    <div class="box">
        <ion-icon name="logo-whatsapp"></ion-icon>
        <p>(57) 3245625511</p>
        <ion-icon name="call-outline"></ion-icon>
        <p>(57)  3245625511</p>
    </div>
    <div class="box">
        <img src="image/logo.png" alt="">
    </div>
    <div class="box">
        <p>Siga-nós</p>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
    </div>
</div>
</footer>
{% endblock %}