{% extends "layout.html" %}
{% block body %}

<header class="header">
    <div class="container">
        <div class="btn-menu">
            <label for="btn-menu" style="color: black;">☰</label>
        </div>
        <div class="logo">
        </div>
        <nav class="menu">
            <a style="color: black;" href="/fronted/indexortodoncias">Ortodoncias</a>
            <a style="color: black;" href="/fronted/indexblanqueamentos">Blanquiamentos</a>
            <a style="color: black;" href="/fronted/indeximplantes">Implantes</a>
            <a style="color: black;" href="/fronted/indexcita">Haga su cita</a>
        </nav>
    </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="terror.html">$</a>
            <a href="comedia.html">$</a>
            <a href="ciencia ficcion.html">$</a>
            <a href="aventuras.html">$</a>
            <a href="romance.html">$</a>
            <a href="drama.html">$</a>
            <a href="misterio.html">$</a>
            <a href="series.html">$</a>
        </nav>
        <label for="btn-menu">✖️</label>
    </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{url_for('static', filename='assets/images/1.jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='assets/images/2.jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{url_for('static', filename='assets/images/3.webp')}}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
crossorigin="anonymous"></script>
<!-- Nuevo div debajo del carrusel -->
<div class="nuevo-div">
    <p class="p5">12 Razones para estar con Nosotros:</p>
    <p class="p6">Contamos con el mejor equipo de especialistas liderados por el Dr. Marlon Becerra.
        Tenemos todos los protocolos de Bioseguridad Activos para asegurar tu visita.
        Odontología orgullosamente colombiana con más de 30 años de experiencia.
        Valoración con nuestro Equipo Completo de Especialistas que evalúa, analiza y diagnóstica tu plan de
        tratamiento.
        Somos pioneros en Odontología integral y especializada en Colombia.
        Tenemos los mejores estándares de calidad y bioseguridad para brindarte la mayor seguridad durante tu
        tratamiento.
        Unimos el Arte y la Academia para crear tu mejor sonrisa.
        Aquí no eres un paciente más, tu tratamiento es único para nosotros.
        Creamos sonrisas funcionales y estéticas.
        Garantizamos la salud y la satisfacción completa a nuestros pacientes.
        Expertos en casos complejos. Trabajamos en lo que realmente necesitas.
        Nuestra prioridad es que tu sonrisa luzca naturalmente hermosa.
    </p>
</div>
{% endblock %}