<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div class="login-box">
        <h1 class="create">create Account</h1>
            <!-- NAME INPUT -->
            <label for="username">Name</label>
            <input id="name" type="text" placeholder="Enter name" name="name"> 
            <!-- Username INPUT -->
            <label for="Username">Username</label>
            <input id="username" type="text" placeholder="Enter Username" name="username">
            <!-- email INPUT -->
            <label for="Email">Email</label>
            <input id="email" type="text" placeholder="Enter Email" name="email">
            <!-- Password INPUT -->
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter Password" name="password">
    
            <input onclick="crearcuenta(event)" type="submit" value="create Account">
        </form>
    </div>
    <script src="{{url_for('static', filename='js/binj/save_registro.js')}}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>