{% extends "layout.html" %}
{% block body %}
<div class="login-box">
    <h1>create Account</h1>
    <form action="/ruta" method="post">
        <!-- NAME INPUT -->
        <label for="username">Name</label>
        <input type="text" placeholder="Enter name">
        <!-- Username INPUT -->
        <label for="Username">Username</label>
        <input type="text" placeholder="Enter Username">
        <!-- email INPUT -->
        <label for="Email">Email</label>
        <input type="text" placeholder="Enter Email">
        <!-- Password INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        <div class="submit-container">
            <input type="submit" value="create Account" formaction="login.html">
        </div>
    </form>
</div>
{% endblock %}