<!DOCTYPE html>
<html>
    <header id="home">
        <div class="menu">
            <div class="logo"></div><!--logo-->
            <nav class="desktop-menu">
                <ul>
                    <li><a href="/fronted/indexprincipal">Inicio</a></li>
                </ul>
            </nav>
        </div>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
</head>
<body>
    <div class="login-box">
        <h1 class="create">create Account</h1>
        <!-- NAME INPUT -->
        <label for="Fullname">Full name</label>
        <input id="Fullname" type="text" placeholder="Fullname" name="Fullname"> 
        <!-- Cedula INPUT -->
        <label for="Cedula">Cedula</label>
        <input id="Cedula" type="text" placeholder="Cedula" name="Cedula">
        <!-- Telefono INPUT -->
        <label for="Telefono">Telefono</label>
        <input id="Telefono" type="text" placeholder="Telefono" name="Telefono">
        <!-- Direccion INPUT -->
        <label for="Direccion">Direccion</label>
        <input id="Direccion" type="text" placeholder="Direccion" name="Direccion">
        <!-- Correo INPUT -->
        <label for="Correo">Correo</label>
        <input id="Correo" type="text" placeholder="Correo" name="Correo">
         <!-- Fecha de nacimento INPUT -->
         <label for="Fechadenacimento">
        
            Fecha de nacimento</label>
         <br>
         <input type="date" id="fecha" name="fecha">
       
        <input onclick="registrarme()" type="submit" value="registrarme">
        </form>
    </div>
    <script src="{{url_for('static', filename='js/binj/user/save_registro.js')}}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
</body> 
</html>