{% extends "layout.html" %}
{% block body %}
<header id="home">
  <div class="menu">
      <nav class="desktop-menu">
          <ul>
            <li><a href="/fronted/indexprincipal">Inicio</a></li>
              <li><a href="/fronted/indexservice">serviços</a></li>
              <li><a href="/fronted/indexsobre">sobre</a></li>
              <li><a href="/fronted/tablauser">ver citas</a></li>
              <li><a href="/fronted/indexregistro">registar</a></li>
              <li><a href="/fronted/indexlogin">logins</a></li>
          </ul>
      </nav>
  </div>
    <div class="container">
        <div class="container2">
            <h1>Formulario de Odontología</h1>
           
                <label for="nombre">cedula del paceinte:</label>
                <input type="number" id="cedula_buscar" name="nombre" required />
            
                <label for="doctor">odontologo:</label>
                <select id="nombre_odonto" name="doctor" required>
                  <option value="">odontologo de preferencia</option>
                </select>
            
                <br />
                <label for="fechadipo_user">fecha disponible</label> 
                <select id="fechadipo_user" >
                  <option value="">Selecciona la fecha de la cita</option>
                </select>
                
                <br />
                <label for="consulta">Consulta:</label>
                <select id="consultas" name="consulta" required>
                  <option value="">Seleccione</option>
                  <option value="blanqueamiento">Blanqueamiento (Costo: $10.000)</option>
                  <option value="ortodoncia">Ortodoncia (Costo: $50.000)</option>
                  <option value="implantes">Implantes (Costo: $10.000)</option>
                </select>
                <br />
                <label for="tarjeta">Tarjeta de crédito:</label>
                <select id="tarjetas" name="tarjeta" required>
                  <option value="">Seleccione</option>
                  <option value="visa">Visa</option>
                  <option value="mastercard">Mastercard</option>
                  <option value="amex">American Express</option>
                </select>
                <br />
                <label for="cardNumber">Número de Tarjeta</label>
                <input type="number" id="cardNumber" name="cardNumber" />
                <br>
                <label for="estado">estado de cita</label>
                <select id="estado_cita" name="estado_citas" required>
                  <option value="pendiente">pendiente</option>
                </select>
                <br>
                <label for="consulta">problema</label>
                <textarea id="problemas" rows="5" required></textarea>
                <br /> 
                <input id="btn" onclick="save_citas_user()" type="submit" value="agendar cita" />
       </div>
    </div>
    <script src="{{url_for('static', filename='js/binj/user/save_citas.js')}}"></script>
  </header>

{% endblock %}