{% extends "layout.html" %}
{% block body %}
<section id="contact">
    <div class="container">
        <div class="title">
            <h1 class="title-cita">Citas</h1>
            <p>Aqui podra ver su citas </p>
        </div>
        <div class="contenedor_de_la_tabla"> 
            <div class="tabla_de_mi_cita">
                <div class="d-flex mb-3">
                    <input type="text" id="buscarcitasuser_id" class="form-control mr-2"
                        placeholder="Buscar en la tabla...">
                    <input class="btn btn-primary" onclick="buscar_citas_user()" type="button"  value="buscar">
                </div>
                <div class="table-responsive_user">
                    <table class="table">
        
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Odontologo</th>
                                <th scope="col">Fecha selecionada</th>
                                <th scope="col">Consulta</th>
                                <th scope="col">estado de cita</th>
                                <th scope="col">problema</th>
                                <th scope="col">Option</th>
                            </tr>
                        </thead>
                        <tbody id="tabla">
                            <tr>
        
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</section>
<script src="{{url_for('static', filename='js/binj/user/mostrarcita_user.js')}}"></script>
{% endblock %}