{% extends "layout.html" %}
{% block body %}
<header id="home">
    <div class="menu">
        <div class="logo"></div><!--logo-->
        <nav class="desktop-menu">
            <ul>         
                <li><a href="/fronted/indexcalendario">Calendario</a></li>
                <li><a href="/fronted/indexadmin_tabla_paciente">Pacientes</a></li>
                <li><a href="/fronted/indexadmin_tabla_medico">Medicos</a></li>
                <li><a href="/fronted/indexprincipal">Cerrar sesion</a></li>
            </ul>
        </nav>
    </div>
</div><!--container-->
<div class="contenedor_de_la_tabla">
  <div class="tabla_de_mi_cita">
    <div class="d-flex mb-3">
    <input type="text" id="buscadorcitasadmin" onkeyup="buscadordecitas()" class="form-control mr-2" placeholder="Buscar en la tabla...">
   <button class="btn btn-primary1" type="button" id="boton-buscar">Buscar</button>
    <button id="myBtn_1" class="btn btn-primary2" type="button">Nueva cita</button>
    <button id="myBtn_2" class="btn btn-primary3" type="button">Citas disponibles</button>
</div>

    <div class="table-responsive_citas">
      <table class="table"> 
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Rol</th>
            <th scope="col">Nombre completo</th>
            <th scope="col">Edad</th>
            <th scope="col">Genero</th>
            <th scope="col">Fecha seleccionada</th>
            <th scope="col">Tipo de consulta</th>    
            <th scope="col">tarjeta de credito</th>
            <th scope="col">num tarjeta</th>
            <th scope="col">estado de citas</th>
            <th scope="col">problema</th>
            <th scope="col">opcion</th>
          </tr>
        </thead>
        <br>
        <tbody id="tabla">
          <tr>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="myModal_tabla_admin_1" class="modal_tabla_admin">
  <div class="modal-content">
    <label for="doctor">nombre paciebnte:</label>
    <select id="nombre_prueba" >
      <option value="">Selecciona el nombre</option>
    </select>
    <label for="edad">Edad:</label>
    <input type="number" id="edades" placeholder="edad" name="edad" min="1" max="120" required />
    <label for="doctor">odontlogo:</label>
    <select id="odontlogos" name="doctor" required>
      <option value="">Seleccionar</option>
    </select>
    <br />
    <label for="fecha_disponible">fecha disponible</label> 
    <select id="fecha" >
      <option value="">Selecciona la fecha de la cita</option>
    </select>
    <br />
    <label for="consulta">Consulta:</label>
    <select id="consultas" name="consulta" required>
      <option value="">Seleccione</option>
      <option value="blanqueamiento">Blanqueamiento (Costo: $10.000)</option>
      <option value="ortodoncia">Ortodoncia (Costo: $50.000)</option>
      <option value="implantes">Implantes (Costo: $10.000)</option>
    </select>
    <br />
    <label for="tarjeta">Tarjeta de crédito:</label>
    <select id="tarjetas" name="tarjeta" required>
      <option value="">Seleccione</option>
      <option value="visa">Visa</option>
      <option value="mastercard">Mastercard</option>
      <option value="amex">American Express</option>
    </select>
    <br />
    <label for="cardNumber">Número de Tarjeta</label>
    <input type="text" placeholder="numero tarjeta" id="cardNumber" name="cardNumber" />
    <br />
    <label for="tarjeta">estado de cita</label>
    <select id="estado_cita" name="estado_citas" required>
      <option value="pendiente">pendiente</option>
    </select>
    <label for="consulta">problema</label>
    <textarea id="problemas"  placeholder="problema" name="consulta" rows="5" required></textarea>
    <input
      id="btn"
      onclick="guardar_cita_admin()"
      type="submit"
      value="Enviar"
    />
  </div>
</div>


<!-- actuualizar citas admin modal-->
<div id="myModal_tabla_admin_actualizar" class="modal_tabla_admin">
  <div class="modal-content">
    <label for="id">id:</label>
    <input type="number" id="id_citas_actualizar" name="ids" />
    <!--  -->
    <label for="doctor">paciente</label>
    <select id="nombre_paciente_actualizar" >
      <option value="">Selecciona el nombre</option>
    </select>
    <br>
    <!--  -->
    <label for="edad">Edad:</label>
    <input type="number" placeholder="Edad" id="edad_actualizar" name="edad" min="1" max="120" required />
    <!--  -->
    <label for="doctor">odontlogo:</label>
    <select id="nombre_odontologo_actualizar" name="doctor" required>
      <option value="">Seleccionar</option>
    </select>
    <br />
  <!--  -->
    <label for="fecha_disponible">fecha disponible</label> 
    <select id="fecha_actualizar" >
      <option value="">Selecciona la fecha de la cita</option>
    </select>
    <br />
    <label for="consulta">Consulta:</label>
    <select id="consultas_actualizar" name="consulta" required>
      <option value="">Seleccione</option>
      <option value="blanqueamiento">Blanqueamiento (Costo: $10.000)</option>
      <option value="ortodoncia">Ortodoncia (Costo: $50.000)</option>
      <option value="implantes">Implantes (Costo: $10.000)</option>
    </select>
    <br />
    <label for="tarjeta">Tarjeta de crédito:</label>
    <select id="tarjetas_actualizar" name="tarjeta" required>
      <option value="">Seleccione</option>
      <option value="visa">Visa</option>
      <option value="mastercard">Mastercard</option>
      <option value="amex">American Express</option>
    </select>
    <br />
    <label for="cardNumber">Número de Tarjeta</label>
    <input type="text"  placeholder="numero tarjeta"id="cardNumber_actualizar" name="cardNumber" />
    <br />
    <label for="tarjeta">estado de cita</label>
    <select id="estado_cita_actualizar" name="estado_citas" required>
      <option value="">seleccionar</option>
      <option value="pendiente">pendiente</option>
      <option value="finalizada">finalizada</option>
      
    </select>
    <label for="consulta">problema</label>
    <textarea id="problemas_actualizar" placeholder="problema"name="consulta" rows="5" required></textarea>
    <button id="btn-actualizarcita_admin" class="btn-primary">actualizar</button>
   
  
  </div>
</div>

<!-- modal de citas disponibles -->
<div id="myModal_tabla_admin_2" class="modal_tabla_admin2">
  <div class="modal-content2">
    <label for="consultaDateTime">Selecciona la fecha y hora disponible</label>
    <input type="datetime-local" id="fecha_disponible_" name="fecha_hora" />
    
    <br />
    <input onclick="fecha_disponible_save()" type="submit" value="Enviar" />
  </div>
</div>
<script src="{{url_for('static', filename='js/binj/admin/citas_admin.js')}}"></script>
<script src="{{url_for('static', filename='js/binj/admin/fecha_disponible.js')}}"></script>
<script src="{{url_for('static', filename='js/binj/funcion_modal.js')}}"></script>
</header>
{% endblock %}

