{% extends "layout.html" %}
{% block body %}
<header id="home">
    <div class="menu">
        <div class="logo"></div><!--logo-->
        <nav class="desktop-menu">
            <ul>
                <li><a href="/fronted/indexprincipal">Inicio</a></li>
                <li><a href="/fronted/indexservice">serviços</a></li>
                <li><a href="/fronted/indexsobre">sobre</a></li>
                <li><a href="/fronted/indexcita">agendar cita</a></li>
                <li><a href="/fronted/indexregistro">registar</a></li>
                <li><a href="/fronted/indexlogin">logins</a></li>
            </ul>
        </nav>
    </div>
        <div class="contenedor_de_la_tabla"> 
            <div class="tabla_de_mi_cita">
                <div class="d-flex mb-3">
                    <input type="text" id="buscarcitasuser_id" class="form-control mr-2"
                        placeholder="Buscar en la tabla...">
                    <input class="btn btn-primary btn-buscar_cita" onclick="buscar_citas_user()" type="button"  value="buscar">
                </div>
                <div class="table-responsive_user">
                    <table class="table">
        
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Odontologo</th>
                                <th scope="col">Fecha selecionada</th>
                                <th scope="col">Consulta</th>
                                <th scope="col">estado de cita</th>
                                <th scope="col">problema</th>
                                <th scope="col">Option</th>
                            </tr>
                        </thead>
                        <tbody id="tabla">
                            <tr>
        
                            </tr>
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{url_for('static', filename='js/binj/user/mostrarcita_user.js')}}"></script>
{% endblock %}