{% extends "layout.html" %}
{% block body %}
<header class="header">
    <div class="container">
        <div class="btn-menu">
            <label for="btn-menu" style="color: black;">☰</label>
        </div>
        <div class="logo">
        </div>
        <nav class="menu">
            <a style="color: black;" href="indexcita">Cerrar sesion</a>
        </nav>
    </div>
</header>
<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
    <div class="cont-menu">
        <nav>
            <a href="terror.html">Calendario</a>
            <a href="comedia.html">Citas</a>
            <a href="ciencia ficcion.html">Pacientes</a>
            <a href="aventuras.html">Medicos</a>
            <a href="romance.html">Reportes de citas</a>
            <a href="drama.html">Facturacion</a>
        </nav>
        <label class="logox" for="btn-menu">✖️</label>
    </div>
</div>
<div class="contenedor_de_la_tabla">
    <div class="tabla_de_mi_cita">
        <div class="d-flex mb-3">
            <input type="text" id="buscador" class="form-control mr-2" placeholder="Buscar en la tabla..." style="width: 200px;">
            <button class="btn btn-primary" type="button" id="boton-buscar" style="margin-top: 2px; height: 43px; margin-left:15px" >Buscar</button>
          </div>
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre completo</th>
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Fecha seleccionada</th>
                <th scope="col">Tipo de consulta</th>
                <th scope="col">opcion</th>
              </tr>
            </thead>
            <tbody id="tabla">
              <tr>
               
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="contenedor_de_la_tabla2">
    <div class="tabla_de_mi_cita">
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre completo</th>
                <th scope="col">Edad</th>
                <th scope="col">Genero</th>
                <th scope="col">Fecha seleccionada</th>
                <th scope="col">Tipo de consulta</th>
                <th scope="col">opcion</th>
              </tr>
            </thead>
            <tbody id="tabla">
              <tr>
               
              </tr>
            </tbody>
          </table>
    </div>
</div>
<script src="{{url_for('static', filename='js/binj/mostrarcita_admin.js')}}"></script>
{% endblock %}