* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: url(../images/blue-gradient-abstract-wallpaper-preview.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.imagen {
    max-width: 100%;
    height: auto;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.rotating-text {
    text-align: left;
    margin-left: 420px;
}


.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    top: 0;
    left: 0;
}

/*Estilos para el encabezado*/
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 2;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 4px;

}

.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;

}

.container .menu {
    float: right;
    line-height: 100px;
}

.imagengod {
    padding: 10px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
    display: none;

}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #ff1212;
    background: #1ed2ff;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

.descripcion {
    position: relative;
    right: -1%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-inner {
    height: auto;
    position: relative;
    top: 104px;
    left: 0px;
    z-index: 1;
}
.nuevo-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* Estilos adicionales del nuevo div aquí... */
  }

.carousel-item img {
    height: 650px;
}

.container-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* Valor alto */
}

.carousel {
    z-index: 1;
    /* Valor bajo */
}

.container {
    position: relative;
    width: 100%;
}

.p1 {
    position: absolute;
    top: 800px;
    left: 620px;
    font-size: 30px;
    margin-top: 10px;
    margin-left: -405px;
    color: #fff;
}
.p2 {
    position: absolute;
    top: 860px;
    left: 620px;
    margin-top: 10px;
    margin-left: -600px;
    color: #fff;
}
.p3 {
    position: absolute;
    top: 1660px;
    left: 500px;
    margin-top: 80px;
    margin-left: -230px;
    color: #fff;
    font-size: 30px;
}
.p4 {
    position: absolute;
    top: 1720px;
    left: 600px;
    margin-top: 80px;
    margin-left:  -590px;
    color: #fff;
}
.p5 {
    position: absolute;
    top: 60px;
    left: 600px;
    margin-top: 80px;
    margin-left:  -590px;
    color: #fff;
    font-size: 30px;
}
.p6 {
    position: absolute;
    top: 120px;
    left: 600px;
    margin-top: 80px;
    margin-left:  -590px;
    color: #fff;
}
.container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.menu {
    /* Estilos para el menú */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999; /* Un valor alto para asegurarse de que el menú esté delante de otros elementos */
    /* Otros estilos adicionales */
}
/* CSS */

.nuevo-div {
    position: relative;
    z-index: 2; /* Valor mayor para que esté por encima del carrusel */
    /* Resto de estilos para el nuevo div... */
}
.div-3{
    position: relative;
    z-index: 3;
    top: 400px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    /* Agrega aquí otros estilos para el contenedor del formulario */
}





