.container2 {
    display: flex;
    flex-direction: column;
    margin-top: -249px;
    padding: 24px;
    border: 1px solid #ffffff73;
    border-radius: 5px;
    max-width: 600px;
    background-color: #ffffff73;
    margin-left: 32.4%;
    margin-right: -35px;

}

.container2 h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin-right: 5px;
}


input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 2px;
    border: 1px solid #ffffff00;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    resize: vertical;
    background-color: #ffffff88;
    margin: -3px 70px;
    margin-left: 0px;
    border-block-end-color: black;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.message {
    display: none;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.message.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.message.error {
    background-color: #f2dede;
    color: #a94442;
}

@media screen and (max-width: 500px) {
    .container2 {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

h1 {
    color: rgb(0, 0, 0);
}

label {
    color: rgb(0, 0, 0);
}
.btn-buscar_cita{
    margin-left: 10%;
}