/* Estilos de CSS para el formulario */
body {
    background: url(../assets/images/blue-gradient-abstract-wallpaper-preview.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container2 {
    position: relative;
    max-width: 100px; /* Ancho máximo del contenedor */
    margin: 80px auto 0; /* Margen superior ajustado */
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007BFF;
}

form {
    margin-top: 30px;
}

label,
input,
select,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input[type="text"],
input[type="number"],
select,
textarea {
    padding: 10px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2dede;
    color: #a94442;
    display: none;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}
