body {
    background: url(../assets/images/fondo-cirugia-oral_01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-box {
    width: 320px;
    height: 420px;
    background: #ffffff;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #ADD8E6;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #fff;
}

.login-box {
    border-radius: 5%;
    /* ajusta el valor según tus necesidades */
}
.login-box {
    max-width: 500px; /* ajusta el valor según tus necesidades */
    width: 40%; /* el ancho se ajustará automáticamente según el contenido */
  }
  
  .login-box input[type="text"],
  .login-box input[type="password"],
  .login-box label {
    width: 100%; /* los elementos internos tienen un ancho fijo del 100% */
    box-sizing: border-box; /* incluye el borde y el padding en el ancho del elemento */
  }
  
  