/* Estilo del botón que abre el modal */
#myBtn_1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

#myBtn_2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

#myBtn_3 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

#myBtn_4 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}

/* Estilo del modal */
.modal_tabla_admin {
  display: none;
  /* El modal está oculto por defecto */
  position: fixed;
  /* Fija la posición del modal */
  z-index: 1;
  /* Pone el modal por encima del resto de elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Permite desplazar el contenido del modal si es demasiado grande */
  background-color: rgba(0, 0, 0, 0.4);
  /* Color de fondo oscuro */
}

.modal_tabla_admin2 {
  display: none;
  /* El modal está oculto por defecto */
  position: fixed;
  /* Fija la posición del modal */
  z-index: 1;
  /* Pone el modal por encima del resto de elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Permite desplazar el contenido del modal si es demasiado grande */
  background-color: rgba(0, 0, 0, 0.4);
  /* Color de fondo oscuro */
}

.modal_tabla_paciente {
  display: none;
  /* El modal está oculto por defecto */
  position: fixed;
  /* Fija la posición del modal */
  z-index: 1;
  /* Pone el modal por encima del resto de elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Permite desplazar el contenido del modal si es demasiado grande */
  background-color: rgba(0, 0, 0, 0.4);
  /* Color de fondo oscuro */
}

.modal_tabla_odontologo {
  display: none;
  /* El modal está oculto por defecto */
  position: fixed;
  /* Fija la posición del modal */
  z-index: 1;
  /* Pone el modal por encima del resto de elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Permite desplazar el contenido del modal si es demasiado grande */
  background-color: rgba(0, 0, 0, 0.4);
  /* Color de fondo oscuro */
}



/* Estilo del contenido del modal */
.modal-content {
  background-color: #fefefe;
  /* Color de fondo del contenido */
  margin: 15% auto;
  /* Centra el contenido verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  /* Ancho del contenido */
  height: 120%;
  
}

.modal-content2 {
  background-color: #fefefe;
  /* Color de fondo del contenido */
  margin: 15% auto;
  /* Centra el contenido verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  /* Ancho del contenido */
  height: 33%;
}

.modal-content3 {
  background-color: #fefefe;
  /* Color de fondo del contenido */
  margin: 15% auto;
  /* Centra el contenido verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  /* Ancho del contenido */
  height: 80%;

}

.modal-content4 {
  background-color: #fefefe;
  /* Color de fondo del contenido */
  margin: 15% auto;
  /* Centra el contenido verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  /* Ancho del contenido */
  height: 70%;
}

.modal-content input {
  width: 100%;
  /* El ancho de los campos de entrada se ajustará al 100% del contenedor padre (modal-content3) */
  height: 40px;
} 

.modal-content2 input {
  width: 100%;
  /* El ancho de los campos de entrada se ajustará al 100% del contenedor padre (modal-content3) */
  height: 40px;
}

.modal-content3 input {
  width: 100%;
  /* El ancho de los campos de entrada se ajustará al 100% del contenedor padre (modal-content3) */
  height: 40px;
}
@media screen and (max-width: 800px) {
  .modal-content {
    width: 90%;
    height: 120%;
  }
}

@media screen and (max-width: 800px) {
  .modal-content2 {
    width: 90%;
    height: 56%;
  }
}
@media screen and (max-width: 800px) {
  .modal-content3 {
    width: 90%;
    height: 77%;

  }
}
@media screen and (max-width: 800px) {
  .modal-content4 {
    width: 90%;
    height: 75%;
  }
}


