* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}


.imagen {
    max-width: 100%;
    height: auto;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.rotating-text {
    text-align: left;
    margin-left: 420px;
}


.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    top: 0;
    left: 0;
}

/*Estilos para el encabezado*/
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 4px;

}

.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;

}

.container .menu {
    float: right;
    line-height: 100px;
}

.imagengod {
    padding: 10px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
    display: none;

}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #ff1212;
    background: #1ed2ff;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

.descripcion {
    position: relative;
    right: -1%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-inner {
    height: auto;
    position: relative;
    top: 100px;
    left: 0px;
    z-index: 1;
}

.nuevo-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* Estilos adicionales del nuevo div aquí... */
}

.carousel-item img {
    height: 650px;
}

.container-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* Valor alto */
}

.carousel {
    z-index: 1;
    /* Valor bajo */
}

.container {
    position: relative;
    width: 100%;
}

.p1 {
    position: absolute;
    top: 800px;
    left: 820px;
    font-size: 30px;
    margin-top: 10px;
    margin-left: -405px;
    color: #fff;
}

.p2 {
    position: absolute;
    top: 860px;
    left: 620px;
    margin-top: 10px;
    margin-left: -600px;
    color: #fff;
}

.p3 {
    position: absolute;
    top: 1660px;
    left: 680px;
    margin-top: 80px;
    margin-left: -230px;
    color: #fff;
    font-size: 30px;
}

.p4 {
    position: absolute;
    top: 1720px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p5 {
    position: absolute;
    top: 60px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}

.p6 {
    position: absolute;
    top: 120px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p7 {
    position: absolute;
    top: 40px;
    left: 1151px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}

.p8 {
    position: absolute;
    top: 120px;
    left: 1010px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p9 {
    position: absolute;
    top: 200px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p10 {
    position: absolute;
    top: 300px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p11 {
    position: absolute;
    top: 440px;
    left: 850px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}

.p12 {
    position: absolute;
    top: 550px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p13 {
    position: absolute;
    top: 700px;
    left: 620px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}

.p14 {
    position: absolute;
    top: 840px;
    left: 910px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p15 {
    position: absolute;
    top: 1010px;
    left: 1050px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}

.p16 {
    position: absolute;
    top: 1090px;
    left: 1050px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;

}

.p17 {
    position: absolute;
    top: 1300px;
    left: 1200px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;

}

.p18 {
    position: absolute;
    top: 1400px;
    left: 1200px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;

}

.p19 {
    position: absolute;
    top: 100px;
    left: 700px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;

}

.p20 {
    position: absolute;
    top: 170px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;

}

.p21 {
    position: absolute;
    top: -50px;
    left: 1200px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}
.p22 {
    position: absolute;
    top: 60px;
    left: 1190px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}
.p23{
    position: absolute;
    top: 300px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}
.p24{
    position: absolute;
    top: 400px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}
.p25{
    position: absolute;
    top: 460px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;

}

.container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.container2 {
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.container3 {
    position: relative;
    max-width: 100%;
    height: auto;
}

.imagen-circular {
    position: absolute;
    top: 840px;
    left: 100px;
    border-radius: 80%;
    /* Define un radio del 50% para que tenga forma de círculo */
    width: 200px;
    /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px;
    /* Ajusta la altura de la imagen según tus necesidades */
    object-fit: cover;
    /* Opcional: ajusta la forma en que la imagen se ajusta dentro del contenedor */
}

.imagen-circular2 {
    position: absolute;
    top: 1114px;
    left: 240px;
    border-radius: 80%;
    /* Define un radio del 50% para que tenga forma de círculo */
    width: 200px;
    /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px;
    /* Ajusta la altura de la imagen según tus necesidades */
    object-fit: cover;
    /* Opcional: ajusta la forma en que la imagen se ajusta dentro del contenedor */
}

.imagen-circular3 {
    position: absolute;
    top: 1390px;
    left: 400px;
    border-radius: 80%;
    /* Define un radio del 50% para que tenga forma de círculo */
    width: 200px;
    /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px;
    /* Ajusta la altura de la imagen según tus necesidades */
    object-fit: cover;
    /* Opcional: ajusta la forma en que la imagen se ajusta dentro del contenedor */
}

.menu {
    /* Estilos para el menú */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    /* Un valor alto para asegurarse de que el menú esté delante de otros elementos */
    /* Otros estilos adicionales */
}

/* CSS */

.nuevo-div {
    position: relative;
    z-index: 2;
    /* Valor mayor para que esté por encima del carrusel */
    /* Resto de estilos para el nuevo div... */
}

.div-3 {
    position: relative;
    z-index: 3;
    top: 400px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    /* Agrega aquí otros estilos para el contenedor del formulario */
}

.div7 {
    position: relative;
    /* Establece la posición relativa para el contenedor del video */
    top: 400px;
    /* Ajusta la cantidad de desplazamiento vertical según tus necesidades */

}

.create{
    position: relative;
    top: -10%;
}
.formaction{
    position: relative;
    top: -15%;
    margin: auto;
}
label[for="btn-menu"] {
    float: right;
    margin-right: -20px;
  }
.contenedor_de_la_tabla{
    position: absolute;
    top: 20%;
    background-color: aliceblue;
    left: 14%;
    width: 70%;
   
}
.Bienvenido{
    position: relative;
    top: -320px;
    color: #ffffff;
    font-size: 40px;
   
}
.counter{
    color: #fff;
    position: relative;
    float: left;
    text-align: left;
    font-size: 22px;
    margin-top: 3%;
}
.s1{
    text-align: left;
    margin-top: 3%;
    font-size: 22px;
}
.s2{
    text-align: left;
    font-size: 22px;
}