* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}


.imagen {
    max-width: 100%;
    height: auto;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.rotating-text {
    text-align: left;
    margin-left: 420px;
}


.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    top: 0;
    left: 0;
}

/*Estilos para el encabezado*/
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 4px;

}

.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
    margin-left: 1%;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;

}

.container .menu {
    float: right;
    line-height: 100px;
}

.imagengod {
    padding: 10px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
    display: none;

}

.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;

}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #ff1212;
    background: #1ed2ff;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

.descripcion {
    position: relative;
    right: -1%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-inner {
    height: auto;
    position: relative;
    top: 100px;
    left: 0px;
    z-index: 1;
}

.nuevo-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* Estilos adicionales del nuevo div aquí... */
}

.carousel-item img {
    height: 650px;
}

.container-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* Valor alto */
}

.carousel {
    z-index: 1;
    /* Valor bajo */
}

.container {
    position: relative;
    width: 100%;
}

.p1 {
    position: absolute;
    top: 800px;
    left: 820px;
    font-size: 30px;
    margin-top: 10px;
    margin-left: -405px;
    color: #fff;
}

.p2 {
    position: absolute;
    top: 860px;
    left: 620px;
    margin-top: 10px;
    margin-left: -600px;
    color: #fff;
}

.p3 {
    position: absolute;
    top: 1660px;
    left: 680px;
    margin-top: 80px;
    margin-left: -230px;
    color: #fff;
    font-size: 30px;
}

.p4 {
    position: absolute;
    top: 1720px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p5 {
    position: absolute;
    top: 60px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
    font-size: 30px;
}

.p6 {
    position: absolute;
    top: 120px;
    left: 600px;
    margin-top: 80px;
    margin-left: -590px;
    color: #fff;
}

.p7 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 40px;
    margin-top: 80px;
    color: #fff;
    font-size: 42px;
    margin-left: 25%;
}


.p8 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 40px;
    margin-top: 70px;
    color: #fff;
    font-size: 30px;
    margin-left: 15%;
}

.p9 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 10px;
    margin-top: 70px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
}


.p10 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 10px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
}

.p11 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: -10px;
    margin-top: 80px;
    color: #fff;
    font-size: 42px;
    margin-left: 1%;
}

.p12 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
}

.p13 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 70px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
}

.p14 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 80px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: -23.2%;
    max-width: 800px;
}

.p15 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 200px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: 20%;
}

.p16 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 220px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: 5%;
    max-width: 800px;


}

.p17 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 322px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: 3%;

}

.p18 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 322px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-left: -20%;
    max-width: 800px;

}

.p19 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 40px;
    margin-top: 80px;
    color: #fff;
    font-size: 42px;
    margin-left: 20%;

}

.p20 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 40px;
    margin-top: 80px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
    max-width: 500%;

}

.p21 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: -400px;
    margin-top: 80px;
    color: #fff;
    font-size: 40px;
    margin-left: 26%;
    max-width: 500%;

}

.p22 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: -420px;
    margin-top: 80px;
    color: #fff;
    font-size: 20px;
    margin-left: 26%;
    max-width: 500%;
    text-align: left;
}

.p23 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: -390px;
    margin-top: 80px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
    max-width: 500%;
    text-align: left;
    ;
}

.p24 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: -420px;
    margin-top: 80px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
    max-width: 500%;
    text-align: left;
    ;
}

.p25 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: -480px;
    margin-top: 80px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
    max-width: 500%;
    text-align: left;
    ;

}

.p26 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: -480px;
    margin-top: 80px;
    color: #fff;
    font-size: 40px;
    margin-left: 1%;
    max-width: 500%;
    text-align: left;
    ;

}

.p27 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 800%;
    margin-top: 80px;
    color: #fff;
    font-size: 40px;
    margin-left: 1%;
    max-width: 500%;
    text-align: left;

}

.ul1 {
    position: relative;
    /*cambiamos de absolute a relative*/
    left: 50%;
    /*colocamos el elemento en el centro*/
    transform: translateX(-50%);
    /*centramos horizontalmente*/
    top: 800%;
    margin-top: -500px;
    color: #fff;
    font-size: 20px;
    margin-left: 1%;
    max-width: 800%;
    text-align: left;
}



.container {
    position: relative;
    max-width: 100%;
    height: auto;
}

.container2 {
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: 1;

}

.container3 {
    position: relative;
    max-width: 100%;
    height: auto;
}

.imagen-circular {
    position: absolute;
    top: 115%;
    left: 100px;
    border-radius: 10%;
    /* Define un radio del 50% para que tenga forma de círculo */
    max-width: 200px;
    /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px;
    /* Ajusta la altura de la imagen según tus necesidades */
    object-fit: cover;
    /* Opcional: ajusta la forma en que la imagen se ajusta dentro del contenedor */
    margin: 0 auto;
    /* centra el contenedor horizontalmente */
    overflow: hidden;
    /* oculta cualquier parte de la imagen que se salga del contenedor */
    margin-left: 5%;

}


.imagen-circular2 {
    position: absolute;
    top: 150%;
    left: 50px;
    border-radius: 10%;
    /* Define un radio del 50% para que tenga forma de círculo */
    max-width: 200px;
    /* Ajusta el ancho de la imagen según tus necesidades */
    height: 200px;
    /* Ajusta la altura de la imagen según tus necesidades */
    object-fit: cover;
    /* Opcional: ajusta la forma en que la imagen se ajusta dentro del contenedor */
    margin-left: 60%;
}

.imagen-circular3 {
    position: absolute;
    top: 90%;
    left: 50px;
    max-width: 100%;
    border-radius: 10%;
    /* Define un radio del 50% para que tenga forma de círculo */
    height: 200px;
    /* Ajusta la altura de la imagen según tus necesidades */
    object-fit: cover;
    /* Opcional: ajusta la forma en que la imagen se ajusta dentro del contenedor */
    margin-left: 60%;

}



.menu {
    /* Estilos para el menú */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    /* Un valor alto para asegurarse de que el menú esté delante de otros elementos */
    /* Otros estilos adicionales */
}

/* CSS */

.nuevo-div {
    position: relative;
    z-index: 2;
    /* Valor mayor para que esté por encima del carrusel */
    /* Resto de estilos para el nuevo div... */
}

.div-3 {
    position: relative;
    z-index: 3;
    top: 400px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    /* Agrega aquí otros estilos para el contenedor del formulario */
}

.div7 {
    position: relative;
    /* Establece la posición relativa para el contenedor del video */
    top: 400px;
    /* Ajusta la cantidad de desplazamiento vertical según tus necesidades */

}

.create {
    position: relative;
    top: -10%;
}

.formaction {
    position: relative;
    top: -15%;
    margin: auto;
}

label[for="btn-menu"] {
    float: right;
    margin-right: -20px;
}

.contenedor_de_la_tabla {
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.507);
    left: 14%;
    width: 70%;
    border-radius: 10px;

}

.Bienvenido {
    position: relative;
    top: -320px;
    color: #ffffff;
    font-size: 40px;

}

.counter {
    color: #fff;
    position: relative;
    float: left;
    text-align: left;
    font-size: 22px;
    margin-top: 3%;
}

.s1 {
    text-align: left;
    margin-top: 3%;
    font-size: 22px;
}

.s2 {
    text-align: left;
    font-size: 22px;
}

.logox {
    position: relative;
    left: 200px;

}

.contenedor_de_la_tabla2 {
    position: absolute;
    top: 80%;
    background-color: rgb(255, 255, 255);
    left: 14%;
    width: 70%;

}

.table-responsive_citas {
    overflow-x: auto;
    margin-top: 5%;

}

.table-responsive_paciente {
    overflow-x: auto;
    margin-top: 5%;
    
}

.table-responsive_medico {
    overflow-x: auto;
    margin-top: 5%;
}

.table-responsive_user {
    overflow-x: auto;
    margin-top: 5%;
}

.d-flex input {
    max-width: 30%;
    height: 40px;
    margin-top: 5px;
    margin-left: 11px;
}

.d-flex button {
    margin-top: 10px;
    height: 40px;
    margin-left: 15px
}

.table {
    word-break: break-word;
}

footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
    text-align: center;
}

.video {
    margin-top: -40%;
    /* Ajusta el valor según tu necesidad */
    margin-left: 1%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table thead tr th {
    background-color: #f2f2f2;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: #333;
}

.table tbody tr td {
    padding: 12px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.table-responsive_user {
    overflow-x: auto;
}
.title-cita{
    color: #fff;
}